doctype html
html
    head
        block meta
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width')
            title= title
        block css
            link(rel='stylesheet', href='/bower_components/bootswatch/cerulean/bootstrap.css')
            link(rel='stylesheet', href='/stylesheets/style.css')
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
            link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body
        block content
        noscript You need to enable JavaScript to run this app.
        div#webcraftApp
        script(src="/javascripts/bundle.js")
